<h3>Story Pitch Form</h3>
  <hr>  
<div class="container">
  
    <form (ngSubmit)="!storyPitchForm.invalid && saveStoryPitchForm()" #storyPitchForm="ngForm">
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" #title="ngModel"
                    [(ngModel)]="pitch.title" name="title" 
                    class="form-control" 
                    id="inputTitle" placeholder="Title">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDate" class="col-sm-2 col-form-label">Est. Finish Date</label>
            <div class="col-sm-10">
                <input type="date" #date="ngModel"
                    [ngModel]="pitch.completionDate | date: 'yyyy-MM-dd' " 
                    (ngModelChange)="pitch.completionDate = $event"  
                    name="date" class="form-control" 
                    (change)="selectDate($event)">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputWordCount" class="col-sm-2 col-form-label">Word Count</label>
            <div class="col-sm-10">                
                <select class="form-control" id="inputDate">                        
                    <option *ngFor="let words of wordCount" [value]="words.pointValue">{{words.noWords}}</option>             
               </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="pointsValue" class="col-sm-2 col-form-label">Points Used</label>
            <div class="col-sm-10">
                <p class="form-control" id="pointsValue"> {{ pointValueSelected }}</p>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputGenre" class="col-sm-2 col-form-label">Genre</label>
            <div class="col-sm-10">                   
                <select class="form-control" [(ngModel)]="pitch.genre" name="genre" (change)="selectGenre($event)">
                    <option>--Select Genre--</option>
                    <option *ngFor="let genre of genres" [value]="genre.genreName">{{genre.genreName}}</option>
                </select>       
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTag" class="col-sm-2 col-form-label">Story Tag</label>
            <div class="col-sm-10">
                <input type="text" #tag="ngModel"
                       [(ngModel)]="pitch.tag" name="tag"
                       class="form-control" id="inputTag" 
                       placeholder="Enter tags, multiple choice maybe?">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDescription" class="col-sm-2 col-form-label">Story Description</label>
            <div class="col-sm-10">
                <input type="text" #description="ngModel"
                    [(ngModel)]="pitch.description"
                    name="description"
                    class="form-control" 
                    id="inputDescription" 
                    placeholder="Write a short description here">
            </div>
        </div>
      
      
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
            <!-- <div class="col-sm-10 offset-sm-2">
                <button (click)="goBack()" class="btn btn-secondary">Go Back</button>
            </div> -->
        </div>
         
    </form>

      <!--  <form [formGroup]="storyPitchForm" (ngSubmit)="saveStoryPitchForm()">
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" formControlName="titleControl"
                    class="form-control" 
                    id="inputTitle" placeholder="Title"
                    >
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDate" class="col-sm-2 col-form-label">Est. Finish Date</label>
            <div class="col-sm-10">
                <input type="date" formControlName="dateControl" class="form-control" 
                    id="inputDate" placeholder="(Approximate Completion Date)">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputWordCount" class="col-sm-2 col-form-label">Word Count</label>
            <div class="col-sm-10">                 
                <select class="form-control" id="inputDate" formControlName="wordCountControl" (change)="selectPointsByWordCount($event)">                        
                    <option *ngFor="let words of wordCount" [value]="words.pointValue">{{words.noWords}}</option>
                </select>  
            </div>
        </div>
        <div class="form-group row">
            <label for="pointsValue" class="col-sm-2 col-form-label">Points Used</label>
            <div class="col-sm-10">
                <p class="form-control" id="pointsValue"> {{ pointValueSelected }}</p>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputGenre" class="col-sm-2 col-form-label">Genre</label>
            <div class="col-sm-10">               
                <select class="form-control" formControlName="genreControl" (change)="selectGenre($event)">
                    <option>--Select Genre--</option>
                    <option *ngFor="let genre of genres" [value]="genre.name">{{genre.name}}</option>
                </select>                    
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTag" class="col-sm-2 col-form-label">Story Tag</label>
            <div class="col-sm-10">
                <input type="text" formControlName="tagControl" class="form-control" id="inputTag" placeholder="Enter tags, multiple choice maybe?">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDescription" class="col-sm-2 col-form-label">Story Description</label>
            <div class="col-sm-10">
                <input type="text" 
                    formControlName="descControl"
                    class="form-control" 
                    id="inputDescription" 
                    placeholder="Write a short description here">
            </div>
        </div>      
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
        </div>
         
    </form> -->
</div>
