<h2>Test info here: {{name}}</h2>>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let test of tests">
            <td>{{test.id}}</td>
            <td>{{test.name}}</td>
        </tr>
    </tbody>
</table>
<hr>
<button (click)="testCheck()">Click me</button>
<hr>
<table>
    <thead>
        <tr>            
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let g of genres">            
            <td>{{g.genreName}}</td>
        </tr>
    </tbody>
</table>
<hr>
<button (click)="genreTest()">Click me</button>
